{% extends 'base.html' %}
{% block title %} AddPost Page {% endblock %}

{% block content %}

<h1> Add Post... </h1>
<h2> {{ post.title }} <h2>

<center>
<form method="POST">
{% csrf_token %}
	<table>
		
		{{ fm.as_table }}
	</table>
	<br>
	<input type="hidden" name="author" value="{{user.id}}" id="author1" required>
	<input type="submit" value="Post" class="btn btn-post">
	
</form>
<script>
	var id = "{{ user.id }}";
	document.getElementById("author1").value = id;

	{% if user.first_name %}
		var name = "{{user.first_name}} {{user.last_name}}";
	{% else %}
		var name = "{{user.username}}";
	{% endif %}
	document.getElementById("author2").value = name;
</script>		
</center>

{% endblock %}